ol li {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}

code {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 2px 4px;
  color: #409eff;
  margin: 0 2px;
}

.handler {
  display: flex;
  align-items: flex-start;
}

.up-box {
  width: 200px;
  height: 80px;
  border: 1px solid #409eff;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #eee;
}

.up-box > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  font-weight: 600;
}

#upload {
  position: absolute;
  inset: 0;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

button {
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border: 1px solid #409eff;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  color: #ffffff;
  background: #409eff;
  transition: all .5s;
}

button:hover,
button:active {
  opacity: .9;
  box-shadow: 0 0 10px #eee;
}
#result {
  margin-top: 20px;
}
#result:empty::before {
  content: '效果展示区域';
  letter-spacing: 2px;
  display: block;
  color: #999;
  padding: 14px;
  min-width: 100px;
  min-height: 100px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}