.mr {
  margin-right: 14px;
}

.mb {
  margin-bottom: 14px;
}


.ml {
  margin-left: 14px;
}

.mt {
  margin-top: 14px;
}

#dir_name {
  font-size: 20px;
}

#file_num {
  color: #ff0000;
  font-size: 20px;
}

code {
  background: #f78989;
  color: #fff;
  padding: 2px 4px;
  border-radius: 4px;
}

* {
  user-select: none;
}

.container {
  padding: 16px;
  margin: 16px;
  border-radius: 6px;
  box-shadow: 2px 4px 10px #ddd;
  font-size: 14px;
}

.up-tip {
  padding: 14px;
  color: #fff;
  background: cadetblue;
  border-radius: 6px;
}

.handler-os {
  margin: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.handler-os--left {
  flex: 1;
  gap: 10px;
}

.handler-os--right {
  gap: 10px;
}

.handler-os--left,
.up-file,
.handler-os--right {
  display: flex;
  align-items: center;
}

.handler-btn {
  padding: 10px 16px;
  background: #409eff;
  color: #fff;
  outline: none;
  border: 1px solid #eee;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity .3s;
  position: relative;
}

.handler-btn:active {
  opacity: .9;
}

.handler-btn>input[type="file"] {
  position: absolute;
  inset: 0;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.handler-os--left b {
  font-weight: bold;
  font-size: 16px;
}

.view-container {
  height: 600px;
  display: flex;
  gap: 14px;
}

.view-container--left {
  width: 220px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 20px #ddd;
  overflow-y: auto;
  position: relative;
}

.view-container--left:empty::before {
  content: "请先选择目录进行上传!";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.tabs-item {
  cursor: pointer;
  padding: 6px 16px;
  transition: all .3s;
}

.tabs-item--active {
  color: #409eff;
  font-weight: bold;
  font-size: 16px;
}

.tabs-item:hover {
  color: cadetblue;
  font-weight: bold;
}

.view-container--center {
  flex: 1;
  padding: 16px;
  box-shadow: 0 0 10px #eee;
  display: flex;
  justify-content: space-around;
}

.center-left {
  width: 400px;
  position: relative;
  display: flex;
  border: 4px dashed #ddd;
}

.center-left:empty::before {
  content: '图片预览区域!';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.center-left>img {
  width: 100%;
  background: #eee;
}

.center-right {
  width: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 4px dashed #ddd;
}

.center-right img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.center-right:empty::before {
  content: '请先上传目录，然后添加底图，最后在添加左侧蒙层!!';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.view-container--right {
  width: 160px;
  box-shadow: 0 0 10px #eee;
  position: relative;
}

.view-container--right:empty::before {
  content: '操作图层!';
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}


.layer-item {
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 10px #ddd;
}

.layer-item--left {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.layer-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.layer-tip {
  font-size: 12px;
  color: #999;
}

.layer-item--right {
  width: 20px;
  height: 20px;
  cursor: move;
  background-image: url("https://qiniu.wangxiaoze.wang/demos/move_icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}