:root {
	--max-width: 1440px;
	--header-height: 64px;
	--bg-color: #ffffff;
	--text-color: #303133;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--bg-color);
	color: var(--text-color);
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 16px;
	line-height: 1.7;
}
