html,
body,
p,
h2 {
	margin: 0;
	padding: 0;
}
html,
body {
	font-family: "Roboto", sans-serif;
	background-color: #000;
	color: #212121;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

h2 em {
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-align: left;
}

.container {
	width: 320px;
	background-color: #eee;
	padding: 14px;
}

.container p {
	display: inline-block;
	text-align: center;
}

h2 {
	text-align: center;
	padding: 10px 0;
}
