html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: #212121;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 14px ;
}

input {
  width: calc(100% - 28px);
  height: 40px;
  padding: 6px 12px;
  border: 1px solid #eee;
  border-radius: 10px;
}


button {
  height: 50px;
  background-color: cadetblue;
  color: #fff;
  outline: none;
  border: 1px solid #eee;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 14px;
  left: 14px;
  right: 14px;
}