---
import "@/styles/components/header.css";
import { SITE } from "@/consts";
const { title } = SITE;
---

<header class="header">
	<div class="wrapper">
		<nav>
			<h2><a href="/">{title}</a></h2>
			<div class="content">
				<div class="content-body">
					<div class="search">search</div>
					<div>
						<a href="123">小册</a>
						<a href="123">文档</a>
						<a href="123">生活</a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
